---
---
<!DOCTYPE html>
<html lang="en-US">
    {% include head.html %}
<body class="home page-template-default page page-id-13 elementor-default elementor-page elementor-page-13">
		<div id="main-container-secondline" class="secondline-themes-header-normal-width secondline-themes-header-float secondline-themes-logo-position-left secondline-themes-one-page-nav-off	">
		
    <div id="secondline-themes-header-position">		
    {% include header.html %}

    </div><!-- close #secondline-themes-header-position -->
	
	
	

	<div id="content-slt">
		<div class="width-container-slt">


							
	<div id="post-13" class="post-13 page type-page status-publish hentry">
	
		<div class="page-content-slt">
			
					<div class="elementor elementor-13">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="56d148f" class="elementor-element elementor-element-56d148f elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="623cb4e" class="elementor-element elementor-element-623cb4e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="784e053" class="elementor-element elementor-element-784e053 elementor-widget elementor-widget-secondline-slider" data-element_type="secondline-slider.default">
				<div class="elementor-widget-container">
				
		

	<div class="secondline-themes-post-slider-main secondline_elements_slider_arrow_visiblity_hidden secondline_elements_slider_dots_visiblity_hidden  secondline_elements_slider_author">
		<div id="secondline-elements-secondline-flexslider-784e053" class="flexslider">
			<ul class="slides">
								<li class="secondline_animate_none flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.5s ease; z-index: 2;">
					
<div class="secondline-elements-slider-background" style="background-image:url({{site.baseurl}}/img/bitcoin-black.png)">
		<div class="slider-elements-display-table">
	
		<div class="slider-text-floating-container">
			<div class="slider-content-max-width">
				<div class="slider-content-margins">
					<div class="slider-content-align-ment">
												
						<a href="{{site.baseurl}}{{site.posts[0].url}}"><h2 class="secondline-blog-slider-title">{{site.posts[0].title}}</h2></a>
													<div class="secondline-post-meta">							
                    <span class="blog-meta-date-display"><a href="{{site.baseurl}}/episode-10-new-recording-studios/">{{site.posts[0].date | date: "%B %-d, %Y" }}</a></span>								
                    <span class="blog-meta-author-display"><a href="{{site.baseurl}}/author/dixie/">{{site.posts[0].author}}</a></span>								
                    <span class="blog-meta-category-list"><a href="{{site.baseurl}}/category/music/" rel="category tag">{{site.posts[0].tags | join: ', '}}</a></span>																
                    <span class="blog-meta-time-slt">{{site.posts[0].duration}}</span><!-- <span class="blog-meta-comments"><a href="{{site.baseurl}}{{site.posts[0].url}}">0 Comments</a></span> -->
								
							</div>
												
						
						<div class="secondline-themes-blog-excerpt">
															<div class="slt-addon-excerpt">
									<p>{{site.posts[0].description | skip_html | truncate: 300 }}</p> 
								</div>
													</div>

						<div class="single-player-container-secondline">
				        <div class="powerpress_player" id="powerpress_player_7311">
   <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
   <audio class="wp-audio-shortcode header-audio" id="audio-82-1" preload="none" style="width: 100%;" controls="controls">
      <source type="audio/mpeg" src="{{site.posts[0].podcast}}" />
      <a href="{{site.posts[0].podcast}}">{{site.post[0].podcast}}</a>
   </audio>
</div>
<p class="powerpress_links powerpress_links_mp3 download-links">Podcast: <a href="{{site.posts[0].podcast}}" class="powerpress_link_pinw" target="_blank" title="Play in new window" onclick="return powerpress_pinw('{{site.posts[0].url}}');" rel="nofollow">Play in new window</a> | <a href="{{site.posts[0].podcast}}" class="powerpress_link_d" title="Download" rel="nofollow" download="{{site.posts[0].podcast}}">Download</a></p>
                            							
						</div>

													
						
						
					</div>
										
				</div>
			</div><!-- close .slider-content-max-width -->
		</div><!-- close .slider-text-floating-container -->

	
	</div><!-- close .slider-elements-display-table -->
		
	
	<div class="slider-background-overlay-color"></div>
	<div class="clearfix-slt"></div>
	
</div><!-- close .secondline-elements-slider-background -->				</li>
							</ul>
		<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1"></a></li></ul></div><!-- #-elements-secondline-flexslider-784e053 -->
	</div><!-- close .secondline-themes-post-slider-main -->
	
	
		
<script type="text/javascript"> 
	jQuery(document).ready(function($) {
		'use strict';
		
		$('#secondline-elements-secondline-flexslider-784e053').flexslider({
			prevText: "",
			nextText: "",
			slideshow:true,
			slideshowSpeed: 7000,
			animation: "fade",
			animationSpeed: 500,
			pauseOnHover: true,
			before: function(){
					var active_rel = $( '#secondline-elements-secondline-flexslider-784e053 iframe' ).attr( 'src', function ( i, val ) { return val; });
					//do something
				},
		});
	

	});
</script>
	

			</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
            
<section data-id="tpynybq" class="elementor-element elementor-element-tpynybq elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div data-id="yfnshqi" class="elementor-element elementor-element-yfnshqi elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="jabkqvb" class="elementor-element elementor-element-jabkqvb elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Latest Episodes</h2>		</div>
				</div>
				<div data-id="insmkas" class="elementor-element elementor-element-insmkas elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="pnthgvg" class="elementor-element elementor-element-pnthgvg elementor-widget elementor-widget-secondline-post-list" data-element_type="secondline-post-list.default">
				<div class="elementor-widget-container">
				


	<div class="secondline-themes-post-list-main">

		
		
		<div class="secondline-masonry-margins">
			<div id="secondline-blog-index-masonry-pnthgvg" style="position: relative; height: 2022px;">
		
{% for post in paginator.posts offset: 1 %}
    <div class="secondline-masonry-item  opacity-secondline" style="position: absolute; left: 0%; top: 0px;">
	<div class="secondline-masonry-padding-blog  secondline_elements_post_list_read_more single-column-slt fitRows-secondline ">
		<div class="secondline-themes-isotope-animation">
			<div id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-design">
				<div class="secondline-themes-default-blog-index">
					<div class="secondline-themes-feaured-image">
						<a href="{{site.baseurl}}{post.url}">
							<img width="350" height="325" src="{{site.baseurl}}/img/bitcoin-knowledge-podcast.jpg" class="attachment-secondline-themes-index-single-column size-secondline-themes-index-single-column wp-post-image match-height-slt" alt="">
							</a>
						</div>
						<!-- close .secondline-themes-feaured-image -->
						<!-- close gallery -->
						{% assign words = post.enclosure | split: '\n' %}
						<div class="secondline-blog-content match-height-slt">
							<h2 class="secondline-blog-title">
								<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
							</h2>
							<div class="secondline-post-meta">
								<span class="blog-meta-date-display">{{post.date | date: "%B %-d, %Y" }}</span>
								<span class="blog-meta-author-display">
									<a href="{{site.baseurl}}/author/dixie/">{{post.author}}</a>
								</span>
								<span class="blog-meta-category-list">
									<a href="{{site.baseurl}}/category/design/" rel="category tag">{{post.tags | join: ', '}}</a>
								</span>
								<!-- <span class="blog-meta-time-slt">{{post.duration}}</span> -->
							</div>
							<div class="secondline-themes-blog-excerpt">
								<div class="slt-addon-excerpt">
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the...</p>
								</div>
								<a class="more-link" href="{{site.baseurl}}{{post.url}}">
									<i class="fa " aria-hidden="true"></i> Read More
								</a>
								<div class="post-list-player-container-secondline">
									<div class="powerpress_player" id="powerpress_player_7312">
										<audio class="wp-audio-shortcode" id="audio-79-2" preload="none" style="width: 100%;" controls="controls">
										
											<source type="audio/mpeg" src="{{words[0] | remove: '["'}}" />
											<a href="{{post.podcast}}">{{post.podcast}}</a>
										</audio>
									</div>
									<p class="powerpress_links powerpress_links_mp3">Podcast: 
										<a href="{{post.podcast}}" class="powerpress_link_pinw" target="_blank" title="Play in new window" onclick="return powerpress_pinw('{{site.baseurl}}{{post.url}}');" rel="nofollow">Play in new window</a> | 
										<a href="{{post.podcast}}" class="powerpress_link_d" title="Download" rel="nofollow" download="{{post.podcast}}">Download</a>
									</p>
								</div>
							</div>
						</div>
						<!-- close .secondline-blog-content -->
						<div class="clearfix-slt"></div>
					</div>
					<!-- close .secondline-themes-default-blog-index -->
				</div>
				<!-- #post-## -->
			</div>
		</div>
	</div>
								
{% endfor %}
       
       
</div>
</div>
				
	
		<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{site.baseurl}}/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
				
		
		<div class="clearfix-slt"></div>
		
	
		
					
    <div id="secondline-load-more-manual">
    <div id="infinite-nav-slt-pnthgvg" class="infinite-nav-slt"><div class="nav-previous"><a href="{{site.baseurl}}/page/2/">More Episodes<span><i class="fa "></i></span></a></div></div>
    </div>
						
			
		
		
	</div><!-- close .secondline-themes-post-list-main -->
	
	<script type="text/javascript"> 
	jQuery(document).ready(function($) {
		'use strict';
		/* Default Isotope Load Code */
		var $containerpnthgvg = $("#secondline-blog-index-masonry-pnthgvg").isotope();
		$containerpnthgvg.imagesLoaded( function() {
			$(".secondline-masonry-item").addClass("opacity-secondline");
			$containerpnthgvg.isotope({
				itemSelector: "#secondline-blog-index-masonry-pnthgvg .secondline-masonry-item",				
				percentPosition: true,
				layoutMode: "fitRows"  
	 		});
		});
		/* END Default Isotope Code */		
		
		
				
		
		
		
				
		/* Begin Infinite Scroll */
		$containerpnthgvg.infinitescroll({
		errorCallback: function(){  $("#infinite-nav-slt-pnthgvg").delay(500).fadeOut(500, function(){ $(this).remove(); }); },
		  navSelector  : "#infinite-nav-slt-pnthgvg",  
		  nextSelector : "#infinite-nav-slt-pnthgvg .nav-previous a", 
		  itemSelector : "#secondline-blog-index-masonry-pnthgvg .secondline-masonry-item", 
	   		loading: {
	   		 	img: "{{site.baseurl}}/wp-content/themes/dixie-secondline/images/loader.gif",
	   			 msgText: "",
	   		 	finishedMsg: "<div id='no-more-posts'>No more posts</div>",
	   		 	speed: 0, }
		  },
		  
		  
		  // trigger Isotope as a callback
		  function( newElements ) {
			  
			  !function(a, b) {
			      function c() {
			          function a() {
			              "undefined" != typeof _wpmejsSettings && (c = b.extend(!0, {}, _wpmejsSettings)), c.success = c.success || function(a) {
			                  var b,
			                      c;
			                  "flash" === a.pluginType && (b = a.attributes.autoplay && "false" !== a.attributes.autoplay, c = a.attributes.loop && "false" !== a.attributes.loop, b && a.addEventListener("canplay", function() {
			                      a.play()
			                  }, !1), c && a.addEventListener("ended", function() {
			                      a.play()
			                  }, !1))
			              }, b(".wp-audio-shortcode, .wp-video-shortcode").not(".mejs-container").filter(function() {
			                  return !b(this).parent().hasClass(".mejs-mediaelement")
			              }).mediaelementplayer(c)
			          }
			          var c = {};
			          return {
			              initialize: a
			          }
			      }
			      a.wp = a.wp || {}, mejs.plugins.silverlight[0].types.push("video/x-ms-wmv"), mejs.plugins.silverlight[0].types.push("audio/x-ms-wma"), a.wp.mediaelement = new c, b(a.wp.mediaelement.initialize)
			  }(window, jQuery);


		     $(".secondline-themes-gallery").flexslider({
		 		animation: "fade",      
		 		slideDirection: "horizontal", 
		 		slideshow: false,   
		 		smoothHeight: false,
		 		slideshowSpeed: 7000,  
		 		animationSpeed: 1000,        
		 		directionNav: true,             
		 		controlNav: true,
		 		prevText: "",   
		 		nextText: "",
		     });
			  
		    	$(".secondline-themes-default-blog-overlay a[data-rel^=\'prettyPhoto\'], .secondline-themes-feaured-image a[data-rel^=\'prettyPhoto\']").prettyPhoto({
		  			theme: "pp_default",
		    			hook: "data-rel",
		  			opacity: 0.7,
		    			show_title: false, 
		    			deeplinking: false,
		    			overlay_gallery: false,
		    			custom_markup: "",
		  			default_width: 1100,
		  			default_height: 619,
		    		social_tools:""
		    	});
				
				$(".secondline-themes-default-blog-overlay, .secondline-themes-default-blog-index").fitVids();

				
		    var $newElems = $( newElements );
 	
				$newElems.imagesLoaded(function(){
					
				$containerpnthgvg.isotope( "appended", $newElems );
				$(".secondline-masonry-item").addClass("opacity-secondline");      
							  
				
				if (window.innerWidth > 959) {
					$(".single-column-slt .secondline-themes-feaured-image img").addClass("match-height-slt");
					$(".single-column-slt .secondline-blog-content").addClass("match-height-slt");
					$(".single-column-slt.secondline_elements_post_list_disable_match .secondline-themes-feaured-image img").removeClass("match-height-slt");
					$(".single-column-slt.secondline_elements_post_list_disable_match .secondline-blog-content").removeClass("match-height-slt");
				
					$('.match-height-slt').matchHeight();
					$('body .grid-columns-slt.fitRows-secondline .secondline-blog-content').matchHeight({byRow: true,});
				};
				
				
				
			});

		  }
		);
	    /* END Infinite Scroll */
				
		
				/* PAUSE FOR LOAD MORE */
		$(window).unbind(".infscr");
		// Resume Infinite Scroll
		$("#infinite-nav-slt-pnthgvg .nav-previous a").click(function(){
			$containerpnthgvg.infinitescroll("retrieve");
			return false;
		});
		/* End Infinite Scroll */
				
	});
	</script>
	


		

			</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="1tiygbe" class="elementor-element elementor-element-1tiygbe elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="r0ju42c" class="elementor-element elementor-element-r0ju42c elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="amfkas2" class="elementor-element elementor-element-amfkas2 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Behind The Mic</h2>		</div>
				</div>
				<div data-id="y0qwiw2" class="elementor-element elementor-element-y0qwiw2 elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<section data-id="q0llpff" class="elementor-element elementor-element-q0llpff elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
				<div class="elementor-row">
				<div data-id="i1fkj5s" class="elementor-element elementor-element-i1fkj5s elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="amwi9g4" class="elementor-element elementor-element-amwi9g4 elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="t2n7law" class="elementor-element elementor-element-t2n7law elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Emma Fitzgerald</h2>		</div>
				</div>
				<div data-id="wcgdahw" class="elementor-element elementor-element-wcgdahw elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="p5p1y6l" class="elementor-element elementor-element-p5p1y6l elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="1s5cpcr" class="elementor-element elementor-element-1s5cpcr elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="flai7bl" class="elementor-element elementor-element-flai7bl elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-3-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="u4p9c0t" class="elementor-element elementor-element-u4p9c0t elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Joey Banjo</h2>		</div>
				</div>
				<div data-id="iy2fq7e" class="elementor-element elementor-element-iy2fq7e elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="zsb5i43" class="elementor-element elementor-element-zsb5i43 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="ly7l17p" class="elementor-element elementor-element-ly7l17p elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="sc3oo11" class="elementor-element elementor-element-sc3oo11 elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-4-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="xemecod" class="elementor-element elementor-element-xemecod elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Mr. John</h2>		</div>
				</div>
				<div data-id="s1sqaeo" class="elementor-element elementor-element-s1sqaeo elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="bziz2n8" class="elementor-element elementor-element-bziz2n8 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="kvuf875" class="elementor-element elementor-element-kvuf875 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="jopebmj" class="elementor-element elementor-element-jopebmj elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-2-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="upz94rg" class="elementor-element elementor-element-upz94rg elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Zoey Smith</h2>		</div>
				</div>
				<div data-id="teeqnd2" class="elementor-element elementor-element-teeqnd2 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Producer</span>		</div>
				</div>
				<div data-id="dtimcgh" class="elementor-element elementor-element-dtimcgh elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="ajinwwc" class="elementor-element elementor-element-ajinwwc elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="2mgv4dn" class="elementor-element elementor-element-2mgv4dn elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="56m190a" class="elementor-element elementor-element-56m190a elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Subscribe To Our Podcast</h2>		</div>
				</div>
				<div data-id="6pheoke" class="elementor-element elementor-element-6pheoke elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="hpwapw5" class="elementor-element elementor-element-hpwapw5 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p><p>Steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream and, as I lie close to the earth, a thousand unknown plants are noticed by me.&nbsp;</p></div>
				</div>
				</div>
				<section data-id="yc2zw24" class="elementor-element elementor-element-yc2zw24 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div data-id="zz8lztr" class="elementor-element elementor-element-zz8lztr elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="s897qnm" class="elementor-element elementor-element-s897qnm elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-lg">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-align-icon-left elementor-button-icon">
				<i class="fa fa-rss" aria-hidden="true"></i>
			</span>
						<span class="elementor-button-text">Subscribe</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="h9408c0" class="elementor-element elementor-element-h9408c0 elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="dxwgi4o" class="elementor-element elementor-element-dxwgi4o elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-lg">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-align-icon-left elementor-button-icon">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</span>
						<span class="elementor-button-text">Learn More</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="vuabyvn" class="elementor-element elementor-element-vuabyvn elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div data-id="plggl53" class="elementor-element elementor-element-plggl53 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0vsbb7y" class="elementor-element elementor-element-0vsbb7y elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="aojnybx" class="elementor-element elementor-element-aojnybx elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="crankxs" class="elementor-element elementor-element-crankxs elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="okwazbr" class="elementor-element elementor-element-okwazbr elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Join Thousands of Listeners Worldwide</h2>		</div>
				</div>
				<div data-id="u5ee76u" class="elementor-element elementor-element-u5ee76u elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="0ij4csi" class="elementor-element elementor-element-0ij4csi elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p><p>Steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p><p>When I hear the buzz of the little world among the stalks, and grow familiar with the countles</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="w7izato" class="elementor-element elementor-element-w7izato elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="cc3hop5" class="elementor-element elementor-element-cc3hop5 elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="840" height="400" src="{{site.baseurl}}/images/map.png" class="attachment-full size-full" alt="" srcset="https://569p1nokzb8xa6ge-zippykid.netdna-ssl.com/wp-content/uploads/2017/09/map.png 840w , https://569p1nokzb8xa6ge-zippykid.netdna-ssl.com/wp-content/uploads/2017/09/map-300x143.png 300w , https://569p1nokzb8xa6ge-zippykid.netdna-ssl.com/wp-content/uploads/2017/09/map-768x366.png 768w " sizes="(max-width: 840px) 100vw, 840px">		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="uvxptcn" class="elementor-element elementor-element-uvxptcn elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="pcgnnzt" class="elementor-element elementor-element-pcgnnzt elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="ycudvfh" class="elementor-element elementor-element-ycudvfh elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Join Our Newsletter</h2>		</div>
				</div>
				<div data-id="sxmwrxc" class="elementor-element elementor-element-sxmwrxc elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="xdifkvm" class="elementor-element elementor-element-xdifkvm elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Subscribe to receive info on our latest news and episodes</p></div>
				</div>
				</div>
				<div data-id="lohztsr" class="elementor-element elementor-element-lohztsr elementor-widget elementor-widget-shortcode" data-element_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><script type="text/javascript">(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
</script><!-- MailChimp for WordPress v4.1.14 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-22" method="post" data-id="22" data-name="Satchmo"><div class="mc4wp-form-fields"><p>
	<label>Email address: </label>
	<input type="email" name="EMAIL" placeholder="Your email address" required="">
</p>

<p>
	<input type="submit" value="Subscribe">
</p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1528861446"><input type="hidden" name="_mc4wp_form_id" value="22"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
					</div><!-- .entry-content -->
	
	</div><!-- #post-## -->

	
						
			<div class="clearfix-slt"></div>
		</div><!-- close .width-container-slt -->
	</div><!-- #content-slt -->
	
		<footer id="site-footer" class="secondline-themes-footer-normal-width   footer-copyright-align-left">
			
			<div id="widget-area-secondline">
			<div class="width-container-slt footer-4-slt">
				
				
								
								
								
				<div class="clearfix-slt"></div>
				
									<div id="text-1" class="widget widget_text"><h4 class="widget-title">About Dixie</h4>			<div class="textwidget"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet eros leo, eget consequat orci viverra nec. Suspendisse pellentesque sem metus, et mollis purus auctor in eoses eget. Powered by&nbsp;<strong>SecondLineThemes</strong></p>
</div>
		</div>		<div id="recent-posts-3" class="widget widget_recent_entries">		<h4 class="widget-title">Recent Posts</h4>		
                                        
                    <ul>
                       {% for post in site.posts limit: 4 %}
                        <li>
                        <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                        <span class="post-date">{{post.date | date: "%B %-d, %Y" }}</span>
                        </li>
                        
                        {% endfor %}
                        <!-- <li>
                        <a href="{{site.baseurl}}/episode-9-modern-interior-design/">Episode 9: Modern Interior Design</a>
                        <span class="post-date">July 24, 2017</span>
                        </li>
                        <li>
                        <a href="{{site.baseurl}}/episode-8-audio-software-for-podcasters/">Episode 8: Street Art in Brooklyn</a>
                        <span class="post-date">July 24, 2017</span>
                        </li>
                        <li>
                        <a href="{{site.baseurl}}/episode-7-camera-gear-review/">Episode 7: Camera Gear Review</a>
                        <span class="post-date">July 24, 2017</span>
                        </li> -->
					</ul>
					
					
		</div><div id="categories-3" class="widget widget_categories"><h4 class="widget-title">Categories</h4>		<ul>
	<li class="cat-item cat-item-5"><a href="{{site.baseurl}}/category/art/">Art <span class="count">2</span></a>
</li>
	<li class="cat-item cat-item-3"><a href="{{site.baseurl}}/category/design/">Design <span class="count">5</span></a>
</li>
	<li class="cat-item cat-item-2"><a href="{{site.baseurl}}/category/music/">Music <span class="count">2</span></a>
</li>
	<li class="cat-item cat-item-4"><a href="{{site.baseurl}}/category/tech/">Tech <span class="count">5</span></a>
</li>
		</ul>
</div><div id="null-instagram-feed-3" class="widget null-instagram-feed"><h4 class="widget-title">Instagram Feed</h4><ul class="instagram-pics instagram-size-large"><li class=""><a href="https://instagram.com/p/BjtyRPVDATs/" target="_self" class=""><img src="{{site.baseurl}}/images/34094056_175286043111586_2187198682305134592_n.jpg" alt="Hey Berlin! If you&#39;re free this Friday afternoon and want a chance to meet others in the Envatian community, share great ideas and inspire your future work, then hit the link in our bio to register for our EuroTour meetup!
.
.
.
.
.
.
#meetup #berlin #madewithenvato #eurotour #creativeminds #inspiration #travel" title="Hey Berlin! If you&#39;re free this Friday afternoon and want a chance to meet others in the Envatian community, share great ideas and inspire your future work, then hit the link in our bio to register for our EuroTour meetup!
.
.
.
.
.
.
#meetup #berlin #madewithenvato #eurotour #creativeminds #inspiration #travel" class=""></a></li><li class=""><a href="https://instagram.com/p/BjowHpqjaZM/" target="_self" class=""><img src="{{site.baseurl}}/images/33210165_206882396621557_607593484173443072_n.jpg" alt="🎬Video on Envato Elements is here! 🎥 60,000 studio quality video templates and stock footage files 📁 Unlimited downloads
🕒Everything you need in one place!
🔗 Hit the link in our bio to explore
.
.
.
.
.
.
.
#madewithenvato #stockfootage #videoediting #video #youtube #videotemplates #filmmakers" title="🎬Video on Envato Elements is here! 🎥 60,000 studio quality video templates and stock footage files 📁 Unlimited downloads
🕒Everything you need in one place!
🔗 Hit the link in our bio to explore
.
.
.
.
.
.
.
#madewithenvato #stockfootage #videoediting #video #youtube #videotemplates #filmmakers" class=""></a></li><li class=""><a href="https://instagram.com/p/BjmEdpMAxgE/" target="_self" class=""><img src="{{site.baseurl}}/images/33697305_1853114898321656_628198125919535104_n.jpg" alt="Don&#39;t let Monday get you down
.
.
.
.
.
.
.
#madewithenvato #welovegraphicdesign #graphicdesign #wordsofwisdom #inspirationalquotes" title="Don&#39;t let Monday get you down
.
.
.
.
.
.
.
#madewithenvato #welovegraphicdesign #graphicdesign #wordsofwisdom #inspirationalquotes" class=""></a></li><li class=""><a href="https://instagram.com/p/BjXDueBgJfs/" target="_self" class=""><img src="{{site.baseurl}}/images/33102313_182951129028472_1948211012440162304_n.jpg" alt="Neon lights 📸 by jkraft5 via the link in our bio" title="Neon lights 📸 by jkraft5 via the link in our bio" class=""></a></li><li class=""><a href="https://instagram.com/p/BjTeQzolQ5l/" target="_self" class=""><img src="{{site.baseurl}}/images/32203430_206878190110588_8303305800563032064_n.jpg" alt="It&#39;s #NationalBurgerDay in Australia, but we&#39;re spreading the good times all around and declaring it an international day for burger parties 🍔 📸 by stockfilmstudio via the link in our bio
.
.
.
.
.
.
.
#burgers #flatlay #burgerparty #madewithenvato #stockimages #instafood" title="It&#39;s #NationalBurgerDay in Australia, but we&#39;re spreading the good times all around and declaring it an international day for burger parties 🍔 📸 by stockfilmstudio via the link in our bio
.
.
.
.
.
.
.
#burgers #flatlay #burgerparty #madewithenvato #stockimages #instafood" class=""></a></li><li class=""><a href="https://instagram.com/p/BjM2RdvAx-T/" target="_self" class=""><img src="{{site.baseurl}}/images/32203524_351586628578804_8203613699747872768_n.jpg" alt="Gone, but not forgotten. What was your favorite tech item you couldn&#39;t live without back then – and doesn&#39;t exist now?
.
.
.
.
.
.
#placeit #madewithenvato #graphicdesign #tech #nostalgia" title="Gone, but not forgotten. What was your favorite tech item you couldn&#39;t live without back then – and doesn&#39;t exist now?
.
.
.
.
.
.
#placeit #madewithenvato #graphicdesign #tech #nostalgia" class=""></a></li><li class=""><a href="https://instagram.com/p/BjI3bhiBMZF/" target="_self" class=""><img src="{{site.baseurl}}/images/32006560_1762571053823999_7585524367769993216_n.jpg" alt="On #WorldTurtleDay we are doing a little flashback to our favorite turtle and the many creative ways this image was used by members of our community. Hit the link in our bio to see more! #madewithenvato" title="On #WorldTurtleDay we are doing a little flashback to our favorite turtle and the many creative ways this image was used by members of our community. Hit the link in our bio to see more! #madewithenvato" class=""></a></li><li class=""><a href="https://instagram.com/p/BjHO7Y6AEm2/" target="_self" class=""><img src="{{site.baseurl}}/images/32672742_119779058832276_5814890307191308288_n.jpg" alt="🙌 #WednesdayWisdom
.
.
.
.
.
.
.
.
#madewithenvato #placeit #dogsofinstagram #wordsofwisdom #graphicdesign #welovegraphicdesign #inspirationalquotes" title="🙌 #WednesdayWisdom
.
.
.
.
.
.
.
.
#madewithenvato #placeit #dogsofinstagram #wordsofwisdom #graphicdesign #welovegraphicdesign #inspirationalquotes" class=""></a></li><li class=""><a href="https://instagram.com/p/Bi9Bd9mAvbS/" target="_self" class=""><img src="{{site.baseurl}}/images/32491195_1815391768766866_5025370310531088384_n.jpg" alt="Getting into the #RoyalWedding spirit! .
.
.
.
.
.
#madewithenvato #placeit #royalwedding #princeharry #afternoontea #graphicdesign #welovedesign" title="Getting into the #RoyalWedding spirit! .
.
.
.
.
.
#madewithenvato #placeit #royalwedding #princeharry #afternoontea #graphicdesign #welovedesign" class=""></a></li></ul></div>					
				
				<div class="clearfix-slt"></div>
				
												
				</div><!-- close .width-container-slt -->
			</div><!-- close #widget-area-slt -->
			
			
						
			<div id="secondline-themes-copyright">
				<div class="width-container-slt">
					
																					
				</div> <!-- close .width-container-slt -->	
				
				
					<div class="width-container-slt">
						<ul class="secondline-themes-social-icons secondline-themes-footer-icon-text-hide secondline-themes-footer-icon-align-right">
	<li><a href="#!" target="_blank" class="secondline-themes-facebook" title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>	<li><a href="#!" target="_blank" class="secondline-themes-twitter" title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>					<li><a href="#!" target="_blank" class="secondline-themes-rss" title="RSS"><i class="fa fa-rss"></i></a></li>	<li><a href="#!" target="_blank" class="secondline-themes-itunes" title="Podcast"><i class="fa fa-podcast"></i></a></li>	<li><a href="#!" target="_blank" class="secondline-themes-android" title="Android"><i class="fa fa-android"></i></a></li>	
			<li><a href="#!" target="_blank" class="secondline-themes-soundcloud" title="Soundcloud"><i class="fa fa-soundcloud"></i><span>Soundcloud</span></a></li>								
									
		
</ul><!-- close .secondline-themes-social-icons -->						
																			
				
				<div id="copyright-text">
						Copyright {{ "now" | date: "%Y" }}. Developed by <a href="#!">{{site.developer}}</a>				
				</div>		
				
				</div> <!-- close .width-container-slt -->			
				<div class="clearfix-slt"></div>
					
				
			</div><!-- close #secondline-themes-copyright -->
						
		</footer>

	</div><!-- close #boxed-layout-slt -->



<script type="text/javascript" src="{{site.baseurl}}/js/scripts.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/wp-mediaelement.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/fitvids.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/flexslider.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/isotope.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/matchheight.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/onepage.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/prettyphoto.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/scrolltofixed.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/slimmenu.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/superfish.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>
<script type="text/javascript">
	
			jQuery(document).ready(function($) { "use strict";
		
				/* Default Isotope Load Code */
				var $container = $(".secondline-blog-index-masonry").isotope();
				$container.imagesLoaded( function() {
					$(".secondline-masonry-item").addClass("opacity-secondline");
					$container.isotope({
						itemSelector: ".secondline-masonry-item",				
						percentPosition: true,
						layoutMode: "fitRows" 
			 		});
				});
				/* END Default Isotope Code */
		});
		
</script>
<script type="text/javascript" src="{{site.baseurl}}/js/wp-embed.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/player.min.js"></script>
<!-- <script type="text/javascript">
/* <![CDATA[ */
var mc4wp_forms_config = [];
/* ]]> */
</script> -->
<!-- <script type="text/javascript" src="/js/forms-api.min.js"></script> -->
<!--[if lte IE 9]>
<script type='text/javascript' src='https://569p1nokzb8xa6ge-zippykid.netdna-ssl.com/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.1.14'></script>
<![endif]-->
<script type="text/javascript" src="{{site.baseurl}}/js/position.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/dialog.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/waypoints.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/swiper.jquery.min.js"></script>

<script type="text/javascript">
/* <![CDATA[ */
var elementorFrontendConfig = {"isEditMode":"","settings":{"page":[],"general":{"elementor_global_image_lightbox":"yes","elementor_enable_lightbox_in_editor":"yes"}},"is_rtl":"","urls":{"assets":"https:\/\/dixie.secondlinethemes.com\/wp-content\/plugins\/elementor\/assets\/"},"post":{"id":13,"title":"Home","excerpt":""}};
/* ]]> */
</script>

<script type="text/javascript" src="{{site.baseurl}}/js/frontend.min.js"></script>

	  
</body>
</html>