<section data-id="1tiygbe" class="elementor-element elementor-element-1tiygbe elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="r0ju42c" class="elementor-element elementor-element-r0ju42c elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="amfkas2" class="elementor-element elementor-element-amfkas2 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Behind The Mic</h2>		</div>
				</div>
				<div data-id="y0qwiw2" class="elementor-element elementor-element-y0qwiw2 elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<section data-id="q0llpff" class="elementor-element elementor-element-q0llpff elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
				<div class="elementor-row">
				<div data-id="i1fkj5s" class="elementor-element elementor-element-i1fkj5s elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="amwi9g4" class="elementor-element elementor-element-amwi9g4 elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="t2n7law" class="elementor-element elementor-element-t2n7law elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Emma Fitzgerald</h2>		</div>
				</div>
				<div data-id="wcgdahw" class="elementor-element elementor-element-wcgdahw elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="p5p1y6l" class="elementor-element elementor-element-p5p1y6l elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="1s5cpcr" class="elementor-element elementor-element-1s5cpcr elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="flai7bl" class="elementor-element elementor-element-flai7bl elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-3-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="u4p9c0t" class="elementor-element elementor-element-u4p9c0t elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Joey Banjo</h2>		</div>
				</div>
				<div data-id="iy2fq7e" class="elementor-element elementor-element-iy2fq7e elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="zsb5i43" class="elementor-element elementor-element-zsb5i43 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="ly7l17p" class="elementor-element elementor-element-ly7l17p elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="sc3oo11" class="elementor-element elementor-element-sc3oo11 elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-4-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="xemecod" class="elementor-element elementor-element-xemecod elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Mr. John</h2>		</div>
				</div>
				<div data-id="s1sqaeo" class="elementor-element elementor-element-s1sqaeo elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Show Host</span>		</div>
				</div>
				<div data-id="bziz2n8" class="elementor-element elementor-element-bziz2n8 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="kvuf875" class="elementor-element elementor-element-kvuf875 elementor-column elementor-col-25 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="jopebmj" class="elementor-element elementor-element-jopebmj elementor-widget elementor-widget-image" data-element_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
		<img width="150" height="150" src="{{site.baseurl}}/images/host-2-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">		</div>
				</div>
				</div>
				<div data-id="upz94rg" class="elementor-element elementor-element-upz94rg elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Zoey Smith</h2>		</div>
				</div>
				<div data-id="teeqnd2" class="elementor-element elementor-element-teeqnd2 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Producer</span>		</div>
				</div>
				<div data-id="dtimcgh" class="elementor-element elementor-element-dtimcgh elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p style="text-align: center;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. eu fugiat culpale nulla pariatur excepteur occaecat cupidatat non sint proident.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>