<footer id="site-footer" class="secondline-themes-footer-normal-width   footer-copyright-align-left">
	<div id="widget-area-secondline">
		<div class="width-container-slt footer-4-slt">
			<div class="clearfix-slt"></div>
			<div id="text-1" class="widget widget_text">
				<h4 class="widget-title">{{site.data.data.footer.section-1.title}}</h4>
				<div class="textwidget">
					<p>{{site.data.data.footer.section-1.text}}</p>
					<p><a href="https://twitter.com/tracemayer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tracemayer</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
					
					<b>Contact for Trace's assistant:</b>
					
					<p><a href="mailto:{{site.data.data.footer.section-1.assistant-email}}"><img src="{{site.baseurl}}/img/button_ethanannis-protonmail-com.png" alt=""></a></p>
				</div>
			</div>
			<div id="recent-posts-3" class="widget widget_recent_entries">
				<h4 class="widget-title">{{site.data.data.footer.section-2.title}}</h4>
				<ul>
                       {% for post in site.posts limit: 4 %}
                        
					<li>
						<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						<span class="post-date">{{post.date | date: "%B %-d, %Y" }}</span>
					</li>
                        
                        {% endfor %}

				</ul>
			</div>
			<div id="categories-3" class="widget widget_categories">
				<h4 class="widget-title">{{site.data.data.footer.section-3.title}}</h4>
				<ul>
				{% for item in site.data.data.resources %}
				<li class="cat-item cat-item-5">
						<a href="{%if item.link contains 'http' %}{{item.link}}{% else %}{{site.baseurl}}{{item.link}}{% endif %}">{{item.title}}
						</a>
					</li>
                {% endfor %}

				</ul>
			</div>
			<div id="null-instagram-feed-3" class="widget null-instagram-feed">
				<h4 class="widget-title">Instagram Feed</h4>
				<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/128a3bb937cc532cb2cfd1f96ae20932.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
				
												</div>
												<div class="clearfix-slt"></div>
											</div>
											<!-- close .width-container-slt -->
										</div>
										<!-- close #widget-area-slt -->
										<div id="secondline-themes-copyright">
											<div class="width-container-slt"></div>
											<!-- close .width-container-slt -->
											<div class="width-container-slt">
												<ul class="secondline-themes-social-icons secondline-themes-footer-icon-text-hide secondline-themes-footer-icon-align-right">
													<li>
														<a href="{{site.data.data.information.facebook}}" target="_blank" class="secondline-themes-facebook" title="Facebook">
															<i class="fa fa-facebook"></i>
															<span>Facebook</span>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.twitter}}" target="_blank" class="secondline-themes-twitter" title="Twitter">
															<i class="fa fa-twitter"></i>
															<span>Twitter</span>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.rss}}" target="_blank" class="secondline-themes-rss" title="RSS">
															<i class="fa fa-rss"></i>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.apple-podcast}}" target="_blank" class="secondline-themes-itunes" title="Podcast">
															<i class="fa fa-podcast"></i>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.android-podcast}}" target="_blank" class="secondline-themes-android" title="Android">
															<i class="fa fa-android"></i>
														</a>
													</li>
													
												</ul>
												<!-- close .secondline-themes-social-icons -->
												<div id="copyright-text">
						Copyright {{ "now" | date: "%Y" }}. Developed by 
													<a href="http://webjeda.com" target="_blank">{{site.developer}}</a>
												</div>
											</div>
											<!-- close .width-container-slt -->
											<div class="clearfix-slt"></div>
										</div>
										<!-- close #secondline-themes-copyright -->
									</footer>