<footer id="site-footer" class="secondline-themes-footer-normal-width   footer-copyright-align-left">
	<div id="widget-area-secondline">
		<div class="width-container-slt footer-4-slt">
			<div class="clearfix-slt"></div>
			<div id="text-1" class="widget widget_text">
				<h4 class="widget-title">{{site.data.data.footer.section-1.title}}</h4>
				<div class="textwidget">
					<p>{{site.data.data.footer.section-1.text}}</p>
					<p><a href="https://twitter.com/tracemayer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tracemayer</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
					<p><a href="mailto:{{site.data.data.footer.section-1.assistant-email}}"><img src="{{site.baseurl}}/img/button_ethanannis-protonmail-com.png" alt=""></a></p>
				</div>
			</div>
			<div id="recent-posts-3" class="widget widget_recent_entries">
				<h4 class="widget-title">{{site.data.data.footer.section-2.title}}</h4>
				<ul>
                       {% for post in site.posts limit: 4 %}
                        
					<li>
						<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						<span class="post-date">{{post.date | date: "%B %-d, %Y" }}</span>
					</li>
                        
                        {% endfor %}
                        
					<!-- <li><a href="{{site.baseurl}}/episode-9-modern-interior-design/">Episode 9: Modern Interior Design</a><span class="post-date">July 24, 2017</span></li><li><a href="{{site.baseurl}}/episode-8-audio-software-for-podcasters/">Episode 8: Street Art in Brooklyn</a><span class="post-date">July 24, 2017</span></li><li><a href="{{site.baseurl}}/episode-7-camera-gear-review/">Episode 7: Camera Gear Review</a><span class="post-date">July 24, 2017</span></li> -->
				</ul>
			</div>
			<div id="categories-3" class="widget widget_categories">
				<h4 class="widget-title">{{site.data.data.footer.section-3.title}}</h4>
				<ul>
				{% for item in site.data.data.resources %}
				<li class="cat-item cat-item-5">
						<a href="{%if item.link contains 'http' %}{{item.link}}{% else %}{{site.baseurl}}{{item.link}}{% endif %}">{{item.title}}
						</a>
					</li>
                {% endfor %}
					<!-- <li class="cat-item cat-item-5">
					    <a href="{{site.baseurl}}/category/art/">Art 
					        <span class="count">2</span>
					    </a>
					</li>
					<li class="cat-item cat-item-3">
					    <a href="{{site.baseurl}}/category/design/">Design 
					        <span class="count">5</span>
					    </a>
					</li>
					<li class="cat-item cat-item-2">
					    <a href="{{site.baseurl}}/category/music/">Music 
					        <span class="count">2</span>
					    </a>
					</li>
					<li class="cat-item cat-item-4">
					    <a href="{{site.baseurl}}/category/tech/">Tech 
					        <span class="count">5</span>
					    </a>
					</li> -->
				</ul>
			</div>
			<div id="null-instagram-feed-3" class="widget null-instagram-feed">
				<h4 class="widget-title">Instagram Feed</h4>
				<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/128a3bb937cc532cb2cfd1f96ae20932.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
				
				<!-- LightWidget WIDGET -->
				
<!-- 				<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/353ebcb6c44558f5ae356cf73654158b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->
				
				<!-- <ul class="instagram-pics instagram-size-large">
				    <li class="">
				        <a href="https://instagram.com/p/BjtyRPVDATs/" target="_self" class="">
				            <img src="{{site.baseurl}}/images/34094056_175286043111586_2187198682305134592_n.jpg" alt="Hey Berlin! If you&#39;re free this Friday afternoon and want a chance to meet others in the Envatian community, share great ideas and inspire your future work, then hit the link in our bio to register for our EuroTour meetup!
				.
				.
				.
				.
				.
				.
				#meetup #berlin #madewithenvato #eurotour #creativeminds #inspiration #travel" title="Hey Berlin! If you&#39;re free this Friday afternoon and want a chance to meet others in the Envatian community, share great ideas and inspire your future work, then hit the link in our bio to register for our EuroTour meetup!
				.
				.
				.
				.
				.
				.
				#meetup #berlin #madewithenvato #eurotour #creativeminds #inspiration #travel" class="">
				            </a>
				        </li>
				        <li class="">
				            <a href="https://instagram.com/p/BjowHpqjaZM/" target="_self" class="">
				                <img src="{{site.baseurl}}/images/33210165_206882396621557_607593484173443072_n.jpg" alt="🎬Video on Envato Elements is here! 🎥 60,000 studio quality video templates and stock footage files 📁 Unlimited downloads
				🕒Everything you need in one place!
				🔗 Hit the link in our bio to explore
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #stockfootage #videoediting #video #youtube #videotemplates #filmmakers" title="🎬Video on Envato Elements is here! 🎥 60,000 studio quality video templates and stock footage files 📁 Unlimited downloads
				🕒Everything you need in one place!
				🔗 Hit the link in our bio to explore
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #stockfootage #videoediting #video #youtube #videotemplates #filmmakers" class="">
				                </a>
				            </li>
				            <li class="">
				                <a href="https://instagram.com/p/BjmEdpMAxgE/" target="_self" class="">
				                    <img src="{{site.baseurl}}/images/33697305_1853114898321656_628198125919535104_n.jpg" alt="Don&#39;t let Monday get you down
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #welovegraphicdesign #graphicdesign #wordsofwisdom #inspirationalquotes" title="Don&#39;t let Monday get you down
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #welovegraphicdesign #graphicdesign #wordsofwisdom #inspirationalquotes" class="">
				                    </a>
				                </li>
				                <li class="">
				                    <a href="https://instagram.com/p/BjXDueBgJfs/" target="_self" class="">
				                        <img src="{{site.baseurl}}/images/33102313_182951129028472_1948211012440162304_n.jpg" alt="Neon lights 📸 by jkraft5 via the link in our bio" title="Neon lights 📸 by jkraft5 via the link in our bio" class="">
				                        </a>
				                    </li>
				                    <li class="">
				                        <a href="https://instagram.com/p/BjTeQzolQ5l/" target="_self" class="">
				                            <img src="{{site.baseurl}}/images/32203430_206878190110588_8303305800563032064_n.jpg" alt="It&#39;s #NationalBurgerDay in Australia, but we&#39;re spreading the good times all around and declaring it an international day for burger parties 🍔 📸 by stockfilmstudio via the link in our bio
				.
				.
				.
				.
				.
				.
				.
				#burgers #flatlay #burgerparty #madewithenvato #stockimages #instafood" title="It&#39;s #NationalBurgerDay in Australia, but we&#39;re spreading the good times all around and declaring it an international day for burger parties 🍔 📸 by stockfilmstudio via the link in our bio
				.
				.
				.
				.
				.
				.
				.
				#burgers #flatlay #burgerparty #madewithenvato #stockimages #instafood" class="">
				                            </a>
				                        </li>
				                        <li class="">
				                            <a href="https://instagram.com/p/BjM2RdvAx-T/" target="_self" class="">
				                                <img src="{{site.baseurl}}/images/32203524_351586628578804_8203613699747872768_n.jpg" alt="Gone, but not forgotten. What was your favorite tech item you couldn&#39;t live without back then – and doesn&#39;t exist now?
				.
				.
				.
				.
				.
				.
				#placeit #madewithenvato #graphicdesign #tech #nostalgia" title="Gone, but not forgotten. What was your favorite tech item you couldn&#39;t live without back then – and doesn&#39;t exist now?
				.
				.
				.
				.
				.
				.
				#placeit #madewithenvato #graphicdesign #tech #nostalgia" class="">
				                                </a>
				                            </li>
				                            <li class="">
				                                <a href="https://instagram.com/p/BjI3bhiBMZF/" target="_self" class="">
				                                    <img src="{{site.baseurl}}/images/32006560_1762571053823999_7585524367769993216_n.jpg" alt="On #WorldTurtleDay we are doing a little flashback to our favorite turtle and the many creative ways this image was used by members of our community. Hit the link in our bio to see more! #madewithenvato" title="On #WorldTurtleDay we are doing a little flashback to our favorite turtle and the many creative ways this image was used by members of our community. Hit the link in our bio to see more! #madewithenvato" class="">
				                                    </a>
				                                </li>
				                                <li class="">
				                                    <a href="https://instagram.com/p/BjHO7Y6AEm2/" target="_self" class="">
				                                        <img src="{{site.baseurl}}/images/32672742_119779058832276_5814890307191308288_n.jpg" alt="🙌 #WednesdayWisdom
				.
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #placeit #dogsofinstagram #wordsofwisdom #graphicdesign #welovegraphicdesign #inspirationalquotes" title="🙌 #WednesdayWisdom
				.
				.
				.
				.
				.
				.
				.
				.
				#madewithenvato #placeit #dogsofinstagram #wordsofwisdom #graphicdesign #welovegraphicdesign #inspirationalquotes" class="">
				                                        </a>
				                                    </li>
				                                    <li class="">
				                                        <a href="https://instagram.com/p/Bi9Bd9mAvbS/" target="_self" class="">
				                                            <img src="{{site.baseurl}}/images/32491195_1815391768766866_5025370310531088384_n.jpg" alt="Getting into the #RoyalWedding spirit! .
				.
				.
				.
				.
				.
				#madewithenvato #placeit #royalwedding #princeharry #afternoontea #graphicdesign #welovedesign" title="Getting into the #RoyalWedding spirit! .
				.
				.
				.
				.
				.
				#madewithenvato #placeit #royalwedding #princeharry #afternoontea #graphicdesign #welovedesign" class="">
				                                            </a>
				                                        </li>
				                                    </ul> -->
												</div>
												<div class="clearfix-slt"></div>
											</div>
											<!-- close .width-container-slt -->
										</div>
										<!-- close #widget-area-slt -->
										<div id="secondline-themes-copyright">
											<div class="width-container-slt"></div>
											<!-- close .width-container-slt -->
											<div class="width-container-slt">
												<ul class="secondline-themes-social-icons secondline-themes-footer-icon-text-hide secondline-themes-footer-icon-align-right">
													<li>
														<a href="{{site.data.data.information.facebook}}" target="_blank" class="secondline-themes-facebook" title="Facebook">
															<i class="fa fa-facebook"></i>
															<span>Facebook</span>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.twitter}}" target="_blank" class="secondline-themes-twitter" title="Twitter">
															<i class="fa fa-twitter"></i>
															<span>Twitter</span>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.rss}}" target="_blank" class="secondline-themes-rss" title="RSS">
															<i class="fa fa-rss"></i>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.apple-podcast}}" target="_blank" class="secondline-themes-itunes" title="Podcast">
															<i class="fa fa-podcast"></i>
														</a>
													</li>
													<li>
														<a href="{{site.data.data.information.android-podcast}}" target="_blank" class="secondline-themes-android" title="Android">
															<i class="fa fa-android"></i>
														</a>
													</li>
													
												</ul>
												<!-- close .secondline-themes-social-icons -->
												<div id="copyright-text">
						Copyright {{ "now" | date: "%Y" }}. Developed by 
													<a href="http://webjeda.com" target="_blank">{{site.developer}}</a>
												</div>
											</div>
											<!-- close .width-container-slt -->
											<div class="clearfix-slt"></div>
										</div>
										<!-- close #secondline-themes-copyright -->
									</footer>