<section data-id="56d148f" class="elementor-element elementor-element-56d148f elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
   <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
         <div data-id="623cb4e" class="elementor-element elementor-element-623cb4e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
               <div class="elementor-widget-wrap">
                  <div data-id="784e053" class="elementor-element elementor-element-784e053 elementor-widget elementor-widget-secondline-slider" data-element_type="secondline-slider.default">
                     <div class="elementor-widget-container">
                        <div class="secondline-themes-post-slider-main secondline_elements_slider_arrow_visiblity_hidden secondline_elements_slider_dots_visiblity_hidden  secondline_elements_slider_author">
                           <div id="secondline-elements-secondline-flexslider-784e053" class="flexslider">
                              <ul class="slides">
                                 <li class="secondline_animate_none flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.5s ease; z-index: 2;">
                                    <div class="secondline-elements-slider-background" style="background-image:url({{site.baseurl}}/img/bitcoin-black.png);height: 100vh">
                                       <div class="slider-elements-display-table">
                                          <div class="slider-text-floating-container">
                                             <div class="slider-content-max-width">
                                                <div class="slider-content-margins">
                                                   <div class="slider-content-align-ment">
                                                      <a href="{{site.baseurl}}{{site.posts[0].url}}">
                                                         <h2 class="secondline-blog-slider-title">{{site.posts[0].title}}</h2>
                                                      </a>
                                                      <div class="secondline-post-meta">
                                                         <span class="blog-meta-date-display"><a href="{{site.baseurl}}/episode-10-new-recording-studios/">{{site.posts[0].date | date: "%B %-d, %Y" }}</a></span>								
                                                         <span class="blog-meta-author-display"><a href="{{site.baseurl}}/author/dixie/">{{site.posts[0].author}}</a></span>								
                                                         <span class="blog-meta-category-list"><a href="{{site.baseurl}}/category/music/" rel="category tag">{{site.posts[0].tags | join: ', '}}</a></span>																
                                                         <span class="blog-meta-time-slt">{{site.posts[0].duration}}</span><!-- <span class="blog-meta-comments"><a href="{{site.baseurl}}{{site.posts[0].url}}">0 Comments</a></span> -->
                                                      </div>
                                                      <div class="secondline-themes-blog-excerpt">
                                                         <div class="slt-addon-excerpt">
                                                            <p>{{site.posts[0].description | skip_html | truncate: 300 }}</p>
                                                         </div>
                                                      </div>
                                                      <div class="single-player-container-secondline">
                                                         <div class="powerpress_player" id="powerpress_player_7311">
                                                            <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
                                                            <audio class="wp-audio-shortcode header-audio" id="audio-82-1" preload="none" style="width: 100%;" controls="controls">
                                                               <source type="audio/mpeg" src="{{site.posts[0].podcast}}" />
                                                               <a href="{{site.posts[0].podcast}}">{{site.post[0].podcast}}</a>
                                                            </audio>
                                                         </div>
                                                         <p class="powerpress_links powerpress_links_mp3 download-links">Podcast: <a href="{{site.posts[0].podcast}}" class="powerpress_link_pinw" target="_blank" title="Play in new window" onclick="return powerpress_pinw('{{site.posts[0].url}}');" rel="nofollow">Play in new window</a> | <a href="{{site.posts[0].podcast}}" class="powerpress_link_d" title="Download" rel="nofollow" download="{{site.posts[0].podcast}}">Download</a></p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <!-- close .slider-content-max-width -->
                                          </div>
                                          <!-- close .slider-text-floating-container -->
                                       </div>
                                       <!-- close .slider-elements-display-table -->
                                       <div class="slider-background-overlay-color"></div>
                                       <div class="clearfix-slt"></div>
                                    </div>
                                    <!-- close .secondline-elements-slider-background -->				
                                 </li>
                              </ul>
                              <ol class="flex-control-nav flex-control-paging"></ol>
                              <ul class="flex-direction-nav">
                                 <li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li>
                                 <li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1"></a></li>
                              </ul>
                           </div>
                           <!-- #-elements-secondline-flexslider-784e053 -->
                        </div>
                        <!-- close .secondline-themes-post-slider-main -->
                        <script type="text/javascript"> 
                           jQuery(document).ready(function($) {
                           	'use strict';
                           	
                           	$('#secondline-elements-secondline-flexslider-784e053').flexslider({
                           		prevText: "",
                           		nextText: "",
                           		slideshow:true,
                           		slideshowSpeed: 7000,
                           		animation: "fade",
                           		animationSpeed: 500,
                           		pauseOnHover: true,
                           		before: function(){
                           				var active_rel = $( '#secondline-elements-secondline-flexslider-784e053 iframe' ).attr( 'src', function ( i, val ) { return val; });
                           				//do something
                           			},
                           	});
                           
                           
                           });
                        </script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>