<section data-id="uvxptcn" class="elementor-element elementor-element-uvxptcn elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="pcgnnzt" class="elementor-element elementor-element-pcgnnzt elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="ycudvfh" class="elementor-element elementor-element-ycudvfh elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Join Our Newsletter</h2>		</div>
				</div>
				<div data-id="sxmwrxc" class="elementor-element elementor-element-sxmwrxc elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="xdifkvm" class="elementor-element elementor-element-xdifkvm elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Subscribe to receive info on our latest news and episodes</p></div>
				</div>
				</div>
				<div data-id="lohztsr" class="elementor-element elementor-element-lohztsr elementor-widget elementor-widget-shortcode" data-element_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><script type="text/javascript">(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
</script><!-- MailChimp for WordPress v4.1.14 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-22" method="post" data-id="22" data-name="Satchmo"><div class="mc4wp-form-fields"><p>
	<label>Email address: </label>
	<input type="email" name="EMAIL" placeholder="Your email address" required="">
</p>

<p>
	<input type="submit" value="Subscribe">
</p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1528861446"><input type="hidden" name="_mc4wp_form_id" value="22"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>