<section data-id="ajinwwc" class="elementor-element elementor-element-ajinwwc elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section" style="width: 1348px; left: -53.9219px;">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="2mgv4dn" class="elementor-element elementor-element-2mgv4dn elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="56m190a" class="elementor-element elementor-element-56m190a elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Subscribe To Our Podcast</h2>		</div>
				</div>
				<div data-id="6pheoke" class="elementor-element elementor-element-6pheoke elementor-widget elementor-widget-divider" data-element_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator"></span>
		</div>
				</div>
				</div>
				<div data-id="hpwapw5" class="elementor-element elementor-element-hpwapw5 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">
					{% for item in site.data.data.subscribe %}
					<p>{{item.text}}</p>
					{% endfor %}
					</div>
				</div>
				</div>
				<section data-id="yc2zw24" class="elementor-element elementor-element-yc2zw24 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-row">
				<div data-id="zz8lztr" class="elementor-element elementor-element-zz8lztr elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="s897qnm" class="elementor-element elementor-element-s897qnm elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="{{site.url}}{{site.baseurl}}{{site.data.data.information.rss}}" class="elementor-button-link elementor-button elementor-size-lg">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-align-icon-left elementor-button-icon">
				<i class="fa fa-rss" aria-hidden="true"></i>
			</span>
						<span class="elementor-button-text">Subscribe</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="h9408c0" class="elementor-element elementor-element-h9408c0 elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="dxwgi4o" class="elementor-element elementor-element-dxwgi4o elementor-align-left elementor-widget elementor-widget-button" data-element_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="{{site.baseurl}}/about/" class="elementor-button-link elementor-button elementor-size-lg">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-align-icon-left elementor-button-icon">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</span>
						<span class="elementor-button-text">Learn More</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="vuabyvn" class="elementor-element elementor-element-vuabyvn elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div data-id="plggl53" class="elementor-element elementor-element-plggl53 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0vsbb7y" class="elementor-element elementor-element-0vsbb7y elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>