
.header-audio .download-links {
    top: 0 !important;
}

h1#logo-slt {
    font-size: 50px !important;
    font-weight: bold;
    line-height: 2 !important;
    @include media-query($on-palm) {
        font-size: 20px !important;
    font-weight: bold;
    line-height: 5 !important;
    }
    
    a {
        color: #fff;
    }
}

.secondline-blog-content {

    background-color: #000;
    color: #eee;
}

.white {
     color: #fff !important;
}

body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-playpause-button.mejs-play button:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-playpause-button.mejs-pause button:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .secondline-themes-post-list-main .mejs-playpause-button.mejs-play button:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .wp-playlist .wp-playlist-next, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .wp-playlist .wp-playlist-prev, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-inner .mejs-controls span, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-inner .mejs-controls button, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main a.powerpress_link_pinw:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main a.podcast-meta-new-window:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main a.powerpress_link_d:before, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main a.podcast-meta-download:before {
    color: #eee;
}

body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-container .mejs-inner .mejs-controls .mejs-time-rail span.mejs-time-current, body #main-container-secondline .elementor-13 .elementor-element.elementor-element-pnthgvg .secondline-themes-post-list-main .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: cornflowerblue;
}